version: "3.9"

services:
  backend:
    build: .
    container_name: network-backend
    command: >
      sh -c "sleep 5 && python manage.py migrate --noinput &&
             gunicorn config.wsgi:application --bind 0.0.0.0:8000"
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db
      - redis
    volumes:
      - .:/app
      - static_volume:/app/staticfiles

  nginx:
    build:
      context: ./nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - static_volume:/app/staticfiles
    depends_on:
      - backend

  db:
    image: postgres:16
    container_name: network-postgres
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    ports:
      - "6379:6379"

  celery:
    build: .
    command: celery -A config worker -l info
    env_file:
      - .env
    depends_on:
      - backend
      - redis

  celery-beat:
    build: .
    command: >
      sh -c "
      python manage.py migrate &&
      celery -A config beat -l info
      "
    env_file:
      - .env
    depends_on:
      - backend
      - redis

volumes:
  postgres_data:
  static_volume:
  redis_data:

